# Copy this file to ".env" and fill in your real values.
# Find these in Supabase Dashboard -> Project Settings -> API

SUPABASE_URL=https://lkdvmzbqscniuuduhoud.supabase.co
SUPABASE_ANON_KEY=sb_publishable_iewiYNEzr6Pu-p4RzXNN2g_lRBxLNt0
SUPABASE_SERVICE_ROLE_KEY=j9ix6sG-VnTfEX9M51XZ6Q_B2IOj3-H


PORT=4000
